a,
.btn {
  &:hover {
    cursor: pointer;
  }
}
.btn.btn-primary {
  font-size: 18px;
  font-weight: bold;
  background-color: $color-black;
  border-color: $color-black;
}

a.sidebar-button.dark {
  font-size: 18px;
  color: $color-black !important;
  font-weight: bold;
  text-decoration: none;
}
