.circle-visualization {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  
  .initials {
    fill: $color-dark-black;
  }

  .skills {
    font-size: calc(0.25em + 1vh);
  }

  .label {
    font-size: calc(0.3em + 1vh);
  }
}