.dialogue {
  transition: 0.3s all cubic-bezier(1, 0, 0, 1);
  position: absolute;
  z-index: 10;
  width: 20vw;
  background-color: $color-gray;
  padding: 20px;
  right: 2.5%;
  top: 10%;
  box-shadow: $box-shadow;
  color: $color-black;
  
  &.hidden {
    opacity: 0;
    transform: translateX(10%);
    visibility: hidden;
  }
  img {
    // border-radius: $img-round;
    display: block;
    width: auto;
    max-width: 200px;
    max-height: 90px;
    // background-color: $color-gray;
  }
  .identification {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: $border-radius;
    h2 {
      font-size: 1.375em;
      margin-bottom: 0;
    }
    p {
      font-size: 0.875em;
      span {
        font-size: 15px;
        opacity: 0.8;
        display: flex;
        align-items: center;
        i {
          font-size: 6px;
          margin-right: 5px;
        }
      }
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 0px;
      }
    }
    margin-bottom: 0px;
    &:last-child {
      margin-bottom: 0px;
    }
  }

  .information {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 400px;
    overflow: hidden;
  }
}
