.header{
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 0 1em;
  
  .h-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0.5em 0em;
    
    div {
      display: flex;
    }
  }
}

.brandLogo{
  max-height: 40px;
  margin-right: 1em;
 }
 
.right {
  display: flex;
  height: 100%;
  align-items: center;
}