.tag-list{
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  height: 100%;

  .tag {
    background-color: $color-gray;
    height: 100%;
    font-size: 1em;
    display: flex;
    align-items: center;
    border-radius: 30px;
    margin: 0 0.5em;
    padding: 0 0.5em;

    &:first-child {
      margin-left: 0;
    }

    span {
      margin: 0 0.5em;
    }

    .fas{
      font-size: 1em;
      cursor: pointer;
      margin: 0 0.5em;
    }
  }
}