// Colors
$color-black: #2a2a2a;
$color-white: #ffffff;
$color-dark-gray: #343434;
$color-gray: #eaeaea;
$color-light-gray: lighten($color-gray, 5%);


// Constants
$box-shadow: 0px 3px 5px rgba(42, 42, 42, 0.42);

// Utils
$border-radius: 3px;
.box-shadow {
  box-shadow: 0px 3px 5px rgba(42, 42, 42, 0.42);
}

// Images
$img-round: 50px;