.legend {
  background-color: transparent;
  padding: 0.5em 2em;
  position: absolute;
  z-index: 1;
  color: $color-black;

  &.hidden {
    transform: translateX(-100%);
  }

  ul {
    list-style-type: none;
    padding: 0;
    
    li {
      margin-bottom: 0.5em;

      i {
        margin-right: 0.5em;
      }
    }
  }
}
